<h1>Users </h1><br/>
userCount:{$userCount}
<h2>firstUser</h2><br/>
username:{$userAll[0][username]}<br/>
password:{$userAll[0][password]}<br/>
email:{$userAll[0][email]}<br/>

<h1>Notes</h1><br/>
noteAllCount:{$noteAllCount}<br/>
nowTime:{$nowTime}<br/>
noteLast1DayCount:{$noteCount[day]}<br/>
noteLast1WeekCount:{$noteCount[week]}<br/>
noteLast1WeelCount:{$noteCount[month]}<br/>

<h1>books</h1><br/>
bookAllCount:{$bookAllCount}<br/>
nowTime:{$nowTime}<br/>
bookLast1DayCount:{$bookCount[day]}<br/>
bookLast1WeekCount:{$bookCount[week]}<br/>
bookLast1WeelCount:{$bookCount[month]}<br/>





<h1>comments</h1><br/>
commentAllCount:{$commentAllCount}<br/>
nowTime:{$nowTime}<br/>
commentLast1DayCount:{$commentCount[day]}<br/>
commentLast1WeekCount:{$commentCount[week]}<br/>
commentLast1WeelCount:{$commentCount[month]}<br/>


<h1>note everyCount</h1>
1:{$noteEveryCount[1]}<br/>
2:{$noteEveryCount[2]}<br/>
3:{$noteEveryCount[3]}<br/>
4:{$noteEveryCount[4]}<br/>
5:{$noteEveryCount[5]}<br/>
6:{$noteEveryCount[6]}<br/>
7:{$noteEveryCount[7]}<br/>
8:{$noteEveryCount[8]}<br/>
9:{$noteEveryCount[9]}<br/>
10:{$noteEveryCount[10]}<br/>
11:{$noteEveryCount[11]}<br/>
12:{$noteEveryCount[12]}<br/>
13:{$noteEveryCount[13]}<br/>
<br/>