<h1>Notes</h1><br/>
noteAllCount:{$noteAllCount}<br/>
nowTime:{$nowTime}<br/>
noteLast1DayCount:{$noteCount[day]}<br/>
noteLast1WeekCount:{$noteCount[week]}<br/>
noteLast1WeelCount:{$noteCount[month]}<br/>

<form method="post" action="__URL__/manageUser">
	<input type="submit" value="管理用户" />
</form>


<form method="post" action="__URL__/manageBook">
	<input type="submit" value="管理图书" />
</form>





<h1>note everyCount</h1>
1:{$noteEveryCount[1]}<br/>
2:{$noteEveryCount[2]}<br/>
3:{$noteEveryCount[3]}<br/>
4:{$noteEveryCount[4]}<br/>
5:{$noteEveryCount[5]}<br/>
6:{$noteEveryCount[6]}<br/>
7:{$noteEveryCount[7]}<br/>
8:{$noteEveryCount[8]}<br/>
9:{$noteEveryCount[9]}<br/>
10:{$noteEveryCount[10]}<br/>
11:{$noteEveryCount[11]}<br/>
12:{$noteEveryCount[12]}<br/>
13:{$noteEveryCount[13]}<br/>
<br/>